<%= render partial: './layouts/search_form' %>

<div class="apple_pagination results">
  <% @voters.each do |voter| %>
    <div class="voter">
      <b><%= voter.full_name %></b><br>
      Birthdate: <%= voter.birthdate %><br>
      City: <%= voter.city %>
    </div>
  <% end %>

  <div id="pagination">


  <%= javascript_tag do %>
    $(function(){
      $.get({
        url: `<%= pagination_path(request.params) %>`,
        success: function(data){
          $('#pagination').html(data)
        }
      })
    })
  <% end %>

</div>
